package org.firstinspires.ftc.teamcode;

import com.qualcomm.robotcore.eventloop.opmode.OpMode;
import com.qualcomm.robotcore.hardware.DcMotorEx;
import com.qualcomm.robotcore.hardware.CRServo;
import com.qualcomm.robotcore.eventloop.opmode.TeleOp;
import com.qualcomm.robotcore.hardware.DcMotor;

@TeleOp()
public class Control extends OpMode {
    private DcMotor leftHD;
    private DcMotor rightHD;
    private DcMotor corehexTruss;
    private DcMotor corehexGrip;

    private DcMotor corehexArm;
    private CRServo servoGrip;

    private boolean stateUp = false;
    @Override
    public void init() {
        leftHD = hardwareMap.get(DcMotor.class, "leftHD");
        rightHD = hardwareMap.get(DcMotor.class, "rightHD");
        corehexTruss = hardwareMap.get(DcMotorEx.class, "corehexTruss");
        corehexArm = hardwareMap.get(DcMotor.class, "corehexArm");
        corehexGrip = hardwareMap.get(DcMotor.class, "corehexGrip");
        servoGrip = hardwareMap.get(CRServo.class, "servoGrip");
    }
    public void init_loop() {
    }

    public void start() {
        leftHD.setDirection(DcMotor.Direction.REVERSE);
        rightHD.setDirection(DcMotor.Direction.FORWARD);


        corehexTruss.setDirection(DcMotor.Direction.FORWARD);
        corehexTruss.setMode(DcMotor.RunMode.STOP_AND_RESET_ENCODER);

        corehexTruss.setMode(DcMotor.RunMode.RUN_WITHOUT_ENCODER);

        corehexArm.setDirection(DcMotor.Direction.REVERSE);
        corehexGrip.setDirection(DcMotor.Direction.FORWARD);


    }
    public void loop()
    {
        boolean upCurrentSt = false;
        boolean upPreviousSt = false;
        boolean downCurrentSt = false;
        boolean downPreviousSt = false;

        leftHD.setPower(gamepad1.left_stick_y * 1);
        rightHD.setPower(gamepad1.right_stick_y * 1);

        //Truss
       /* if (gamepad1.x)
        {   corehexTruss.setTargetPosition(150);
            corehexTruss.setMode(DcMotor.RunMode.RUN_TO_POSITION);
            corehexTruss.setPower(0.55);



        }
        else if(gamepad1.b)
        {
            corehexTruss.setPower(-0.55);
        }*/

        corehexTruss.setPower(gamepad1.left_trigger);
        

        //grip
        if (gamepad1.y)
        {
            servoGrip.setPower(0.8);
        }

        else if (gamepad1.a) {
            servoGrip.setPower(-0.8);
        }
        //dpad
        upCurrentSt = gamepad1.dpad_up;
        if (upCurrentSt != upPreviousSt)
        {
            if (upCurrentSt)
            {
                leftHD.setPower(-1);
                rightHD.setPower(-1);
            }
        }
        upPreviousSt = upCurrentSt;
        telemetry.addData("Dpad_up state:", upCurrentSt);

        downCurrentSt = gamepad1.dpad_down;
        if (downCurrentSt != downPreviousSt)
        {
            if (downCurrentSt)
            {
                leftHD.setPower(1);
                rightHD.setPower(1);
            }
        }
        downPreviousSt = downCurrentSt;
        telemetry.addData("Dpad_down state:", downCurrentSt);

        telemetry.update();
    }
    public void stop(){

    }


}


