package org.firstinspires.ftc.teamcode;

import com.qualcomm.robotcore.eventloop.opmode.OpMode;
import com.qualcomm.robotcore.hardware.CRServo;
import com.qualcomm.robotcore.eventloop.opmode.TeleOp;
import com.qualcomm.robotcore.hardware.DcMotor;

@TeleOp()
public class Control extends OpMode {
    private DcMotor leftHD;
    private DcMotor rightHD;
    private DcMotor corehexTruss;
    private DcMotor corehexGrip;

    private DcMotor corehexArm;
    private CRServo servoGrip;
    
    private boolean stateUp = false;
    @Override
    public void init() {
        leftHD = hardwareMap.get(DcMotor.class, "leftHD");
        rightHD = hardwareMap.get(DcMotor.class, "rightHD");
        corehexTruss = hardwareMap.get(DcMotor.class, "corehexTruss");
        corehexArm = hardwareMap.get(DcMotor.class, "CorehexArm");
        corehexGrip = hardwareMap.get(DcMotor.class, "CorehexGrip");
        servoGrip = hardwareMap.get(CRServo.class, "servoGrip");
    }
    public void init_loop() {
    }

    public void start() {
        leftHD.setDirection(DcMotor.Direction.FORWARD);
        rightHD.setDirection(DcMotor.Direction.REVERSE);
        corehexTruss.setDirection(DcMotor.Direction.FORWARD);
        corehexArm.setDirection(DcMotor.Direction.REVERSE);
        corehexGrip.setDirection(DcMotor.Direction.FORWARD);


    }
    public void loop()
    {
        leftHD.setPower(gamepad1.left_stick_y * 1);
        rightHD.setPower(gamepad1.right_stick_y * 1);

        //Truss
        if (gamepad1.x)
        {
            corehexTruss.setPower(0.8);

        }
        else if(gamepad1.b)
        {
            corehexTruss.setPower(-0.8);
        }

        //grip
        if (gamepad1.y)
        {
            servoGrip.setPower(0.8);
        }

        else if (gamepad1.a) {
            servoGrip.setPower(-0.8);
        }
        //HD
        if (gamepad1.dpad_up&& !stateUp)stateUp = true;
        if (gamepad1.dpad_up&& stateUp)stateUp = false;
        
        if (stateUp) 
        {
            leftHD.setPower(1);
            rightHD.setPower(1);
        }
    }
    public void stop(){

    }


}



